<template>
  <div id="app">
    <header id="header">
      <img id="logo" alt="Locusnine logo" src="./assets/logo.png" />
      <span id="top-header">SALES DASHBOARD</span>
    </header>
    <main id="row">
      <sales-period :tabs="periods" :active="period" @tab-changed="periodChange" />

      <div class="row" style="margin-top: 20px;">
        <div id="sales-funnel-column">
          <sales-rep-selector :rep="salesRep" @rep-changed="repChanged" />
          <div class="row" style="margin-top: 40px;">
            <sales-funnel id="sales-funnel" :stats="stats" />
            <sales-stats-cards id="sales-stats-cards" />
          </div>
        </div>
        <div id="sales-leader-column">
          <sales-leader-tabs
            id="sales-leader-tabs"
            :tabs="leaderTabs"
            :active="leaderTab"
            @tab-changed="leaderTabChanged"
          />
          <sales-leader-cards id="sales-leader-cards" />
          <!-- <sales-leader-list/>-->
        </div>
      </div>
      <sales-details id="sales-details" :period="period" :sales-rep="salesRep" :details="details" />

      <Home msg="Welcome to Your Vue.js App" />
    </main>
  </div>
</template>

<script>
import Home from "./components/Home.vue";
import Tabs from "./components/Tabs.vue";
import SalesRepSelector from "./components/SalesRepSelector.vue";
import SalesFunnel from "./components/SalesFunnel.vue";
import SalesStatsCards from "./components/SalesStatsCards.vue";
import SalesLeaderCards from "./components/SalesLeaderCards.vue";
import SalesDetails from "./components/SalesDetails.vue";
import { getSalesDetails } from "./api/index";

export default {
  name: "app",
  data() {
    return {
      leaderTabs: ["Top", "Bottom"],
      leaderTab: "Today",
      periods: [
        "Today",
        "Last Week",
        "Last Month",
        "This Quarter",
        "This Year"
      ],
      period: "Today",
      salesRep: "0",
      stats: {
        "Lead In": 0,
        "Contact Made": 0,
        "Needs Defined": 0,
        "Proposal Made": 0,
        "Negotiations Started": 0,
        Won: 0
      },
      details: []
    };
  },
  created() {
    this.fetchFunnelData();
  },
  components: {
    Home,
    SalesPeriod: Tabs,
    SalesLeaderTabs: Tabs,
    SalesRepSelector,
    SalesFunnel,
    SalesStatsCards,
    SalesLeaderCards,
    SalesDetails
  },
  methods: {
    periodChange(period) {
      this.period = period;
    },
    leaderTabChanged(sort) {
      this.leaderTab = sort;
    },
    repChanged(id) {
      this.salesRep = id;
    },
    fetchFunnelData() {
      getSalesDetails(this.period, this.salesRep)
        .then(response => {
          if (response.ok) {
            response.json().then(data => {
              // eslint-disable-next-line
              console.log("json:", JSON.stringify(data));
              this.details = data.sales_events;
              this.stats = data.funnel_stats;
            });
          } else throw new Error(response.status);
          // .catch(err => console.error(err));`
        }) // eslint-disable-next-line
        .catch(err => console.error(err));
    }
  },
  watch: {
    period: function() {
      this.fetchFunnelData();
    },
    salesRep: function() {
      this.fetchFunnelData();
    }
  }
};
</script>

<style>
:root {
  --main-bg-color: #eff3f6;
  --secondary-bg-color: #ffffff;
  --main-header-font-size: 48px;
  --medium-header-fon-size: 24px;
  --main-active-color: #2196f3;
  --main-font-family: "Roboto, Arial, sans-serif";
  --medium-font-weight: normal;
}
body {
  height: 100%;
  margin: 0px;
  background-color: #eff3f6;
}
#app {
  font-family: var(--main-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-align: center; */
  color: #2c3e50;
  margin: 0px 50px;
}
header#header {
  display: flex; /* or inline-flex */
  align-items: center;
  height: 130px;
}
#top-header {
  /* float: right; */
  font-size: var(--main-header-font-size);
  color: #231f20;
  margin-left: auto;
}

.active {
  color: var(--main-active-color);
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

#sales-funnel-column {
  flex: 3;
}
#sales-leader-column {
  flex: 1;
  margin-left: 40px;
}
#sales-funnel {
  flex: 2.5;
}
#sales-stats-cards {
  flex: 1;
  /* margin-top: 20px; */
}
#sales-leader-tabs {
  display: flex;
  justify-content: space-around;
}
#sales-leader-cards {
  margin-top: 40px;
}
</style>
