<template>
  <div id="sales-funnel">
    <img id="funnel" alt="sales funnel" src="../assets/funnel.png" />
    <!-- <div id="funnel"></div> -->
    <div id="funnel-content">
      <div class="status" v-for="status in engagementStatuses" :key="status">
        <label>{{status}}</label>
        <div class="value">{{ stats[status] }}</div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "sales-funnel",
  props: ["stats"],
  data() {
    return {
      engagementStatuses: [
        "Lead In",
        "Contact Made",
        "Needs Defined",
        "Proposal Made",
        "Negotiations Started",
        "Won"
      ]
      // stats: {
      //   "Lead In": 28,
      //   "Contact Made": 24,
      //   "Needs Defined": 19,
      //   "Proposal Made": 13,
      //   "Negotiations Started": 8,
      //   Won: 4
      // }
    };
  }
};
</script>

<style>
#sales-funnel {
  position: relative;
}
#funnel {
  /* background-image: url('../assets/funnel.png'); */
  width: 620px;
  height: 668px;
}
#funnel-content {
  position: absolute;
  left: 0;
  top: 0;
  /* display: flex;
    justify-content: center; */
  text-align: center;
  /* flex-direction: column; */
  width: 620px;
}
#funnel-content .status {
  height: 100px;
  margin: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.status {
  font-family: "Roboto";
  font-size: 18px;
  color: #ffffff;
}
.status label {
  font-size: 18px;
}
#funnel-content .status:last-child label {
  font-size: 48px;
}
.status .value {
  font-size: 48px;
}
</style>

