<template>
  <div id="sales-rep-selector">
    <select v-model="selected" @change="changed">
      <option v-for="rep in salesReps" :value="rep.value" :key="rep.value">{{ rep.name }}</option>
    </select>
  </div>
</template>

<script>
import { getSaleReps } from "../api/index";
export default {
  name: "sales-rep-selector",
  props: ["rep"],
  data() {
    return {
      salesReps: [
        { name: "All Sales Reps", value: 0 }
        // { name: "John Doe", value: 1 },
        // { name: "Ethan Hunt", value: 2 },
        // { name: "Jane Doe", value: 3 },
        // { name: "Rajesh", value: 4 },
        // { name: "Swapnil", value: 5 }
      ],
      selected: this.rep
    };
  },
  created() {
    getSaleReps()
      .then(response => {
        if (response.err) throw new Error(response.err);

        response.json().then(data => {
          if (data.success && data.sales_reps.length > 0) {
            data.sales_reps.forEach(rep => {
              this.salesReps.push({ ...rep, value: rep.id });
            });
          }
        });
      }) // eslint-disable-next-line
      .catch(err => console.error(err));
  },
  methods: {
    changed() {
      // this.active = tab;
      this.$emit("rep-changed", this.selected);
    }
  }
};
</script>

<style>
#sales-rep-selector {
  background-color: var(--secondary-bg-color);
  display: flex;
  align-items: center;
  height: 50px;
}

#sales-rep-selector select {
  margin-left: 20px;
  border: 0px;
  font-family: var(--main-font-family);
  font-size: 14px;
  font-weight: var(--medium-font-weight);
  opacity: 0.5;
  color: inherit;
}
</style>

