<template>
  <div id="sales-period" role="group">
    <button
      v-for="period in periods"
      :key="period"
      :class="{active: period == active}"
      @click="clicked(period)"
    >{{ period }}</button>
  </div>
</template>

<script>
export default {
  name: "sales-period",
  data() {
    return {
      periods: [
        "Today",
        "Last Week",
        "Last Month",
        "This Quarter",
        "This Year"
      ],
      active: "Today"
    };
  },
  methods: {
    clicked(period) {
      this.active = period;
      this.$emit("periodChanged", period);
    }
  }
};
</script>

<style>
#sales-period {
  background-color: var(--secondary-bg-color);
  padding: 0px;
  height: 50px;
}
#sales-period button {
  padding: 0px 20px;
  border: 0px;
  background: #ffffff;
  font-size: 14px;
  opacity: 0.5;
  font-weight: 600;
  height: 100%;
}
#sales-period button.active {
  border-bottom: 2px solid;
  border-bottom-color: var(--main-active-color);
}
</style>
