<template>
  <div id="sales-details">
    <h2>Details</h2>
    <table id="details-table">
      <thead>
        <th>Sales Rep</th>
        <th>Date</th>
        <th>Client</th>
        <th>Primary Contact Person</th>
        <th>Title</th>
        <th>Vertical</th>
        <th>Meeting Location</th>
        <th>Purpose Of Interaction</th>
        <th>Outcome and Remarks</th>
        <th>Engagement Status</th>
      </thead>
      <tbody>
        <tr v-for="detail in details" :key="detail.id" :class="highligtWinsAndLosses(detail)">
          <td>{{ detail.salesRepName }}</td>
          <td>{{ formatDate(detail.EVENT_DATE)}}</td>
          <td>{{ detail.client }}</td>
          <td>{{ detail.primaryContactPerson }}</td>
          <td>{{ detail.title }}</td>
          <td>{{ detail.vertical }}</td>
          <td>{{ detail.meetingLocation }}</td>
          <td>{{ detail.purposeOfInteraction }}</td>
          <td>{{ detail.outcomeAndRemarks }}</td>
          <td>{{ detail.engagementStatus }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>
<script>
import { getSalesDetails } from "../api/index";

const IntDateTime = new Intl.DateTimeFormat("en-US", {
  year: "numeric",
  month: "long",
  day: "numeric"
});

export default {
  name: "sales-details",
  props: ["period", "salesRep", "details"],
  data() {
    return {
      // details: [
      // {
      //   id: 1,
      //   repName: "John Doe",
      //   date: "july 20th, 2018",
      //   client: "Oberoi Group Of Hotels",
      //   primaryContactPerson: "Mahumad Ritelli",
      //   title: "C Level",
      //   vertical: "Marketing",
      //   meetingLocation: "Goto Meeting",
      //   purposeOfInteraction: "Understand there current ecosystem",
      //   outcomeAndRemarks: "Send first cut of proposed solution",
      //   engagementStatus: "Needs Defined"
      // },
      // {
      //   id: 2,
      //   repName: "Ethan Hunt",
      //   date: "july 20th, 2018",
      //   client: "Oberoi Group Of Hotels",
      //   primaryContactPerson: "Mahumad Ritelli",
      //   title: "C Level",
      //   vertical: "Marketing",
      //   meetingLocation: "Goto Meeting",
      //   purposeOfInteraction: "Understand there current ecosystem",
      //   outcomeAndRemarks: "Send first cut of proposed solution",
      //   engagementStatus: "Needs Defined"
      // }
      // ]
    };
  },
  // created() {
  //   this.fetchFunnelData();
  // },
  methods: {
    highligtWinsAndLosses(detail) {
      let classObject = {
        win: false,
        lost: false
      };
      if (detail.engagementStatus == "Won") classObject.win = true;
      else if (detail.engagementStatus == "lost") classObject.lost = true;

      return classObject;
    },
    formatDate(date) {
      let d = new Date(date);
      return IntDateTime.format(d);
    },
    fetchFunnelData() {
      getSalesDetails(this.period, this.salesRep)
        .then(response => {
          if (response.ok) {
            response.json().then(data => {
              // eslint-disable-next-line
              console.log("json:", JSON.stringify(data));
              this.details = data.sales_events;
            });
          } else throw new Error(response.status);
          // .catch(err => console.error(err));`
        }) // eslint-disable-next-line
        .catch(err => console.error(err));
    }
  }
  // watch: {
  //   period: function() {
  //     this.fetchFunnelData();
  //   },
  //   salesRep: function() {
  //     this.fetchFunnelData();
  //   }
  // }
};
</script>

<style>
#sales-details {
  background: #ffffff;
  color: #231f20;
}
#sales-details h2 {
  color: #231f20;
  padding: 20px 20px 0px;
  font-size: 24px;
  font-weight: 700;
}
#sales-details table {
  background-color: var(--secondary-bg-color);
  border-spacing: 0px;
  font-size: 12px;
  width: 100%;
  text-align: left;
}
#sales-details table td,
#sales-details table th {
  padding: 20px 0px;
  border-top: 1px solid #e4e8ec;
  border-bottom: 1px solid #e4e8ec;
}
#sales-details table td:first-child,
#sales-details table th:first-child {
  padding-left: 20px;
}
#sales-details table th {
  border-top: 0px;
}

#sales-details table tr:nth-child(odd) {
  background-color: #f8f9fb;
}

#sales-details table tr.win {
  background-color: #e6f5e6;
}

#sales-details table tr.lost {
  background-color: #fff2f2;
}
</style>


